<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    {% extends 'base.html' %} {% block Base %}
    <div class="about">
        <h2 style="text-align:center">What is deppops</h2>
        
        <p>
            its kind of like depop but not....
            <ul>
                <li>navigate to the add a item page to upload something to sell/trade</li>
                <li>to see what other people are selling/trading go to Other Trade Items</li>
                <li>to search for items by category naviagate to the Search For item page</li>
                <li>to view items you posted naviagate to the your trade item page</li>
                <li>to edit your profile navigate to the profile page</li>
            </ul>
            
        </p>
    </div>
    {% endblock %}
</body>
</html>
</html>