<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %} {% block Base %}
    <h1>Item Details</h1>
    <div class="container mt-4">
        <div class="card p-3 mb-3 text-center">
            <img src="{{ url_for('get_image', itemId=get_your_item['_id']) }}" alt="{{ get_your_item.description }}" class="img-thumbnail mx-auto d-block" style="width: 500px; height: auto;">
            <h4>Category:{{ get_your_item.category }}</h4>
            <p>Description: {{ get_your_item.description }}</p>
            <h4>Condition:{{ get_your_item.condition }}</h4> 
            <h4>Price:{{ get_your_item.price }}</h4>


        </div>
    </div>
    {% endblock %}
</body>
</html>